<div class="d-flex justify-content-between align-items-center py-2">
  <% if @user %>
    <div>
      Welcome to your dashboard, <strong><%= @user.email %></strong>!<br>
      You completed <strong><%= (@completed_tasks_count) %></strong>
      out of <strong><%= pluralize(@total_tasks_count, 'task') %></strong> in <strong><%= pluralize(@categories.count, 'cost code') %></strong>.
    </div>
  <% end %>

  <div>
    <%= form_tag(dashboard_path, method: :get, class: "d-flex justify-content-end") do %>
      <%= date_field_tag :start_date, params[:start_date], class: "me-2" %>
      <%= date_field_tag :end_date, params[:end_date], class: "me-2" %>
      <%= submit_tag 'Filter', class: "btn btn-primary me-2" %>
      <%= link_to 'Reset Filters', dashboard_path(reset: true), class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="input-group mb-3">
      <input type="text" id="searchBarInput" class="form-control" placeholder="Search..." aria-label="Search terms" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
</div>



<table class="table w-100 table-striped">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Deadline Date</th>
      <th>Deadline Time</th>
      <th>Cost Code</th>
      <th>Billing Unit</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
<tbody>
  <% @tasks.each do |task| %>
    <tr class="<%= 'table-success' if task.completed %>">
      <td><%= link_to category_task_path(task.category, task) do %><%= task.name %><% end %></td>
      <td><%= task.deadline_date %></td>
      <td><%= task.deadline_time ? task.deadline_time.strftime("%H:%M:%S %Z") : 'No deadline' %></td>
      <td><%= link_to category_path(task.category) do %><%= task.category_name %><% end %></td>
      <td><%= task.billing_unit %></td>
      <td>$<%= calculate_total_amount(task) %></td>
        <td>
          <div class="d-flex justify-content-around">
            <%= button_to mark_complete_category_task_path(task.category, task), method: :patch, class: "btn btn-sm btn-outline-success", data: { turbo: false } do %>
              <i class="fas fa-<%= task.completed ? 'undo' : 'check' %>"></i>
            <% end %>
            <%= link_to edit_category_task_path(task.category, task), class: "btn btn-sm btn-outline-primary" do %>
              <i class="fas fa-edit"></i>
            <% end %>                        
            <%= button_to [task.category, task], 
                          method: :delete, 
                          params: { from_dashboard: true }, 
                          data: { confirm: 'Are you sure?' }, 
                          class: "btn btn-sm btn-outline-danger btn-delete",
                          disabled: !task.completed do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>

          </div>
        </td>
    </tr>
  <% end %>
</tbody>
</table>