<h1>Tasks for <%= @category.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<% @tasks.each do |task| %>
  <tr class="<%= 'completed' if task.completed %>">
    <td><%= link_to task.name, [@category, task] %></td>
    <td><%= task.deadline_date %> <%= task.deadline_time.strftime("%H:%M") %></td>
    <td>
      <%= link_to 'Edit', edit_category_task_path(@category, task) %>
      <%= button_to task.completed ? 'Mark as Incomplete' : 'Mark as Complete', 
                    mark_complete_category_task_path(@category, task), 
                    method: :patch, 
                    data: { confirm: 'Are you sure?' } %>
      <%= button_to [@category, task], 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' }, 
                    disabled: !task.completed, 
                    class: "btn btn-sm btn-outline-danger" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>

    </td>
  </tr>
<% end %>

  </tbody>
</table>

<%= link_to 'New Task', new_category_task_path(@category) %>
<%= link_to 'Back to Categories', categories_path %>
