<h1>Cost Codes</h1>

<div class="card-container">
  <% @categories.each do |category| %>
    <div class="card">
      <h2><%= link_to category.name, category_path(category) %></h2>
      <div>Billing Unit: <%= category.billing_unit %></div>
      <div class="card-actions">
        <%= link_to edit_category_path(category), class: 'btn btn-edit' do %>
          <i class="fas fa-edit fa-icon" style="color: green;"></i>
        <% end %>
      <%= button_to category_path(category), method: :delete, class: 'btn btn-delete', data: { confirm: 'Are you sure you want to delete this cost code?', turbo: true } do %>
        <i class="fa fa-trash" style="color: red;"></i>
      <% end %>

      </div>
    </div>
  <% end %>
</div>

<%= link_to dashboard_path, class: 'btn btn-primary' do %>
  <i class="fas fa-arrow-left"></i> Dashboard
<% end %>

<%= link_to new_category_path, class: 'btn btn-primary' do %>
  <i class="fas fa-plus"></i> New Cost Code
<% end %>

